
body{
    background-image: url(sea.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
}
.time{
    top: 50px;
    text-align: center;
    font-size: 40px;
    color: black;
    font-style: bold;
}
.clock{
    left: 39%;
    top: 20%;
    height: 300px;
    width: 300px;
    border:14px solid rgb(255, 0, 119);
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.date{
    top: 100px;
    text-align: center;
    font-size: 40px;
    color: black;
    font-style: bold;
}
.clock .number{
    --rotation:0deg;
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}
.clock::after{
     content: '';
     position: absolute;
     background-color: black;
     z-index: 11;
     width: 15px;
     height: 15px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
}
.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}
.clock .hand.minute{
    position: absolute;
    --rotation:0deg;
    height: 120px;
    width: 5px;
    background-color: black;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translate(-50%) rotate(var(--rotation));
}
.minute{
    position: absolute;
    --rotation:0deg;
    height: 120px;
    width: 5px;
    background-color: black;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translate(-50%) rotate(var(--rotation));
}
.second{
    position: absolute;
    height: 130px;
    width: 3px;
    background-color: rgb(255, 0, 0);
    left: 50%;
    transform-origin: bottom;
    bottom: 50%;
    transform: translate(-50%);
    
}

.hour{
    --rotation:0deg;
    position: absolute;
    height: 100px;
    transform-origin: bottom;
    width: 7px;
    background-color: rgb(0, 0, 0);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(var(--rotation));

}

.clock .line{
    --rotation:6deg;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    color: rgb(0, 0, 0);
}
.clock .line2{--rotation: 12deg;}
.clock .line3{--rotation: 18deg;}
.clock .line4{--rotation: 24deg;}
.clock .line6{--rotation: 36deg;}
.clock .line7{--rotation: 42deg;}
.clock .line8{--rotation: 48deg;}
.clock .line9{--rotation: 540deg;}
.clock .line11{--rotation: 66deg;}
.clock .line12{--rotation: 72deg;}
.clock .line13{--rotation: 78deg;}
.clock .line14{--rotation: 84deg;}
.clock .line16{--rotation: 96deg;}
.clock .line17{--rotation: 102deg;}
.clock .line18{--rotation: 108deg;}
.clock .line19{--rotation: 114deg;}
.clock .line21{--rotation: 126deg;}
.clock .line22{--rotation: 132deg;}
.clock .line23{--rotation: 138deg;}
.clock .line24{--rotation: 144deg;}
.clock .line26{--rotation: 156deg;}
.clock .line27{--rotation: 162deg;}
.clock .line28{--rotation: 168deg;}
.clock .line29{--rotation: 174deg;}
.clock .line31{--rotation: 186deg;}
.clock .line32{--rotation: 192deg;}
.clock .line33{--rotation: 198deg;}
.clock .line34{--rotation: 204deg;}
.clock .line36{--rotation: 216deg;}
.clock .line37{--rotation: 222deg;}
.clock .line38{--rotation: 228deg;}
.clock .line39{--rotation: 234deg;}
.clock .line41{--rotation: 246deg;}
.clock .line42{--rotation: 252deg;}
.clock .line43{--rotation: 258deg;}
.clock .line44{--rotation: 264deg;}
.clock .line46{--rotation: 276deg;}
.clock .line47{--rotation: 282deg;}
.clock .line48{--rotation: 288deg;}
.clock .line49{--rotation: 294deg;}
.clock .line51{--rotation: 306deg;}
.clock .line52{--rotation: 312deg;}
.clock .line53{--rotation: 318deg;}
.clock .line54{--rotation: 324deg;}
.clock .line56{--rotation: 336deg;}
.clock .line57{--rotation: 342deg;}
.clock .line58{--rotation: 348deg;}
.clock .line59{--rotation: 354deg;}

.bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -80px;
    position: absolute;
}
.bubble img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: bubbles 7s linear infinite;
}
@keyframes bubbles{
    0%{
        transform: translateY(0%);
        opacity: 0;

    }
}
@keyframes bubbles{

    50%{
        transform: translateY(0);
        opacity: 1;
    
    }
}
@keyframes bubbles{
    70%{       
         transform: translateY(0);
        opacity: 1;
    }
}
@keyframes bubbles{
    100%{
        transform: translateY(-100vh);
        opacity: 0;

    }
}
.bubble :nth-child(1){
    animation-delay: 2s;
    width: 30px;
    height: 30px;
}.bubble :nth-child(2){
    animation-delay: 1s;
}.bubble :nth-child(3){
    animation-delay: 3s;
    width: 25px;
    height: 25px;
}.bubble :nth-child(4){
    animation-delay: 4s;

}.bubble :nth-child(5){
    animation-delay: 3.5s;
}.bubble :nth-child(6){
    animation-delay: 6s;
    width: 40px;
    height: 40px;
}.bubble :nth-child(7){
    animation-delay: 7s;
    width: 35px;
    height: 35px;
}
